// тут будут хранится файлы переменных, значения брекпоинтов для сеты бутстрам и значения плавных переходов для анимации
$colorBasicDark: #1c1c1a;
$colorBasicLight: #ffffff;
$colorBackgroundLight: #f5f5f5;
$colorContrastDark: #f98c23;
$colorContrastLight: #f9ed75;

